@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quebra {
    display: block
}

.quebra-desktop {
    display: none;
}

/* Var */
:root {
    --main-color: #3778FA;
    --font-logo: "Space Grotesk", sans-serif;
    --font-logo-weight: 500;
    --font-important-title: 600;
    --font-logo-size: 20px;
    --font-important-line-height: 3.5rem;
    --font-important-letter-spacing: -0.25rem;
    --font-important-title-size: 3.2rem;
    --font-titles: 1.875rem;
}

/* End of var */

/* Header*/
#header-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--main-color);
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    font-size: var(--font-logo-size);
    margin: 1rem 0 1rem 1.25rem;
}

#header-menu-hambúrguer i {
    margin: 1.5rem 1.255rem 1.5rem 0;

}

#header-desktop {
    display: none;
    /*Turned the header of durant mobile */
}


/*End of the Header*/

/* Top-Content */

#top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-content-title {
    margin: 3.5rem 2.3rem 1.3rem 2.3rem;
    text-align: center;
    font-family: var(--font-logo);
    font-weight: var(--font-important-title);
    font-size: var(--font-important-title-size);
    line-height: var(--font-important-line-height);
    letter-spacing: var(--font-important-letter-spacing);
    max-width: 360px;
}

.top-content-description {
    font-family: var(--font-logo);
    text-align: center;
    margin-bottom: 6.5rem;
}

#img-desktop{
    display: none;
}

.top-content-box-img {
    width: 388px;
    height: 207px;
    background-color: #222222;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    /* Fura a imagem */
    margin-left: 1.25rem;
    margin-bottom: 6.875rem;
}

.top-content-box-img img {
    width: 360px;
    margin-bottom: 2rem;
    transform: rotateY(-40px);
}

/* End of Top-Content */

/* Start of midleo-video */

#midle-video {
    display: flex;
}

#video-desktop{
    display: none;
}

#video {
    text-align: center;
    font-family: var(--font-logo);
    font-weight: var(--font-important-title);
    font-size: var(--font-titles);
    letter-spacing: var(--font-important-letter-spacing);
    line-height: var(--font-important-line-height);
}

#video img {
    margin: 2.188rem 1.25rem 6.844rem 1.25rem;
}

/* End of midleo-video*/

/* Common Question */
#common-question {
    display: flex;
}

.common-question-box h3 {
    margin: 0 5.75rem 1.813rem 5.75rem;
    text-align: center;
    font-family: var(--font-logo);
    font-weight: var(--font-important-title);
    font-size: var(--font-titles);
    line-height: var(--font-important-line-height);
    letter-spacing: var(--font-important-letter-spacing);
}

.common-question-box-faq {
    width: 388px;
    height: 731px;
    background-color: #f3f3f3;
    border-radius: 1.25rem;
    margin-left: 1.25rem;
    padding-top: 6rem;
}

.common-question-box-faq-img {
    width: 21.5rem;
    height: 15.938rem;
    background-color: #fff;
    border-radius: 1rem;
    overflow: visible;
    display: flex;
    margin-left: 1.375rem;
    align-items: flex-end;

}

.common-question-box-faq-img img {
    width: 11.365rem;
    height: 18.316rem;
    margin-left: 4.46rem;
}

.common-question-faq {
    margin-top: 2.5rem;
}

.question-faq {
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    width: 21.5rem;
    height: 3.375rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    margin-left: 1.375rem;
    margin-bottom: 0.603rem;
    padding: 1.063rem 0.804rem 1.063rem 0.688rem;
    align-items: center;
    justify-content: space-between;
}

.question-faq i {
    font-size: 0.396rem;
}

.question-faq-open {
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    width: 21.5rem;
    height: 4.875rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-left: 1.375rem;
    margin-bottom: 0.647rem;
    padding: 1.063rem 0.804rem 1.063rem 0.688rem;
    align-items: center;
}

#faq-title-icon {
    display: flex;
    align-items: center;
}

#faq-title-icon i {
    margin-left: 5.50rem;
}

.question-faq-description {
    margin-top: 0.375;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: #65676C;
}

.question-faq-open i {
    font-size: 0.396rem;
}

/* End of common question*/

/* Start of footer */

/* Start footer-1*/
#footer {
    width: 26.75rem;
    height: 59.188rem;
    background-color: var(--main-color);
    border-radius: 1.25rem;

}

#footer-1 {
    margin: 4.25rem 1.25rem 4.938rem 1.25rem;
}

.footer-title {
    font-family: var(--font-logo);
    line-height: var(--font-important-line-height);
    font-weight: var(--font-important-title);
    font-size: 2.675rem;
    color: #fff;
    letter-spacing: var(--font-important-letter-spacing);
    padding: 4.188rem 10.5rem 1.313rem 1.313rem;
}

.footer-header-description {
    font-family: var(--font-logo);
    font-weight: 400;
    letter-spacing: 0%;
    font-size: 0.675rem;
    color: #fff;
    padding: 0 8.563rem 1.688rem 1.25rem;

}

.footer-button-title {
    font-family: var(--font-logo);
    font-weight: var(--font-important-title);
    padding: 0.813rem 1.313rem 0.813rem 1.313rem;
    background-color: #fff;
    color: #222222;
    border-radius: 6.25rem;
    text-decoration: none;
}

/* End of footer-1 */

/* Division footer */
.footer-division-after {
    width: 24.25rem;
    height: 0.063rem;
    background-color: #fff;
    border-radius: 6.25rem;
    margin-left: 1.25rem;
    margin-bottom: 4.938rem;
}

/* End Division footer */

/* Start of footer-2*/



#footer-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    color: #fff;
}

.footer-about-title {
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    margin: 0 0 0 1.313rem;
    padding: 0;
}

.footer-about-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-about-title {
    margin: 0 11.625rem 1.01rem 1.313rem;
}

.footer-about-description {
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
}

#footer-about-links ul li {
    margin-bottom: 2rem;
    margin-right: 1.25rem;
    list-style: none;
    font-size: 0.75rem;
}

.footer-about-description {
    margin: 1.063rem 5.688rem 4.625rem 1.313rem;
}

/* End of footer-2*/

/* Start of footer-3*/

.footer-social-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    color: #fff;
    margin-left: 1.313rem;
    margin-right: 1.313rem;
    margin-bottom: 4.75rem;
    justify-content: space-between;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 0.875rem;
}

.footer-social-links ul li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-social-links a {
    text-decoration: none;
    color: #fff;
}




/* End of footer-3 */

/*Start of copyrights */

.copyrights-date {
    margin: 0 5.688rem 1.188rem 5.688rem;
    color: #fff;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 0.775rem;
}

.copyrights-address {
    margin: 0 4.375rem 0rem 4.375rem;
    color: #fff;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 0.775rem
}

.copyrights-address-space {
    color: #fff;
    margin: 0 5.375rem 1.25rem 5.375rem;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 0.775rem
}

.copyrights-address-space a {
    color: #fff;

}

.cookies {
    margin: 1.25rem 8.875rem 2rem 8.875rem;
    color: #fff;
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 0.775rem
}

.cookies a {
    color: #fff;
}

/*end of copyrights */

/* End of footer */

/* Start of Desktop */

@media screen and (min-width: 1024px) {

    /* Start of Header-Desktop*/

    .logo {
        font-size: 2.25rem;
        margin-left: 8.75rem;
    }

    #header-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #header-desktop ul {
        display: flex;
        gap: 2.75rem;
        margin-left: 3rem;
        margin-right: 20rem;
        list-style: none;
        font-family: var(--font-logo);
        font-weight: 400;
        font-size: 1.125rem;
    }

    #header-menu-hamburguer {
        display: none;
    }

    .header-desktop-login {
        font-family: var(--font-logo);
        font-weight: 400;
        font-size: 1.125rem;
        margin-right: 2.438rem;
        color: #222222;
        text-decoration: none;
    }

    .header-desktop-start-free {
        font-family: var(--font-logo);
        font-weight: var(--font-important-title);
        font-size: 1.1125rem;
        padding: 0.813rem 1.313rem 0.813rem 1.313rem;
        background-color: var(--main-color);
        color: #fff;
        border-radius: 6.25rem;
        text-decoration: none;
        margin-right: 5rem;
    }


    /* End of Header-Desktop*/

    /* Start of top-content*/
    #top-content-title {
        margin: 8.938rem 25.625rem 2.875rem 28.25rem;
        font-size: 7.5rem;
        line-height: 9.75rem;
        max-width: 62.188rem;

    }

    .top-content-description {
        font-size: 1.5rem;
        letter-spacing: 0%;
        line-height: 2.25rem;
        margin-bottom: 14.5rem;
    }

    .quebra {
        display: none;
    }

    .quebra-desktop {
        display: block;
    }

    .top-content-box-img {
        width: 102.5rem;
        height: 45.125rem;
        margin-left: 8.75rem;
    }

    #img-desktop{
        width: 90.619rem;
        height: 52.125rem;
        margin-bottom: 2rem;
    }

    .top-content-box-img img{
        display: none;
    }
    #img-desktop{
        display: block;
    }

    /* End of top-content*/ 

    /* Start of midle-video*/

    #video {
        font-size: 6rem;
        line-height: 7.25rem;
        margin-left: 21.35rem;
    }

    #video img {
        width: 102.5rem;
        height: 40.875rem;
        padding-right: 40rem;
    }

    /* End of midle-video*/
}

/* End of Desktop */


/*#midle-video {
    display: flex;
}

#video {
    text-align: center;
    font-family: var(--font-logo);
    font-weight: var(--font-important-title);
    font-size: var(--font-titles);
    letter-spacing: var(--font-important-letter-spacing);
    line-height: var(--font-important-line-height);
}

#video img {
    margin: 2.188rem 1.25rem 6.844rem 1.25rem;
} */ 

